.newbook_section {
    background-color: beige;
}

.display_section {
    background-color: lightskyblue;
}

.display_field {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}